body {
  background: color #868888;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #691932;
  border-radius: 50%;
  border: 8px solid black;
}
.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border: 3px solid #c99737;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.number {
  position: absolute;
  font-size: 28px;
  color: #c99737;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
}
.n12 { top:10px; left: 50%; transform: translateX(-50%); cursor: pointer;}
.n3 { right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;}
.n6 { bottom: 10px; left: 50%; transform: translateX(-50%); cursor: pointer;}
.n9 { left: 15px; top: 50%; transform: translateY(-50%); cursor: pointer; }
.n1 { top: 30px; right: 110px; cursor: pointer; }
.n2 { top: 90px; right: 30px; cursor: pointer; }
.n4 { bottom: 90px; right:25px; cursor: pointer; }
.n5 { bottom: 28px; right: 100px; cursor: pointer; }
.n7 { bottom: 28px; left: 95px; cursor: pointer; }
.n8 { bottom: 90px; left: 25px; cursor: pointer; }
.n10 { top: 90px; left: 40px; cursor: pointer; }
.n11 { top: 40px; left: 90px; cursor: pointer; }
.hand {
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(0deg);
}
.hour {
  width: 6px;
  height: 80px;
}
.minute {
  width: 4px;
  height: 110px;
}
.second {
  width: 2px;
  height: 130px;
  background-color: #c99737;
}
.center {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #c99737;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gear-icon {
  position: absolute;
  cursor: pointer;
}

